*{
    margin: 0px;
    padding: 0px;
}

h3{
    margin: 15px;
}

#contenedor{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#entrada{
    width: 300px;
}

#logo{
    width: 70px;
    height: auto;
    margin: 15px;
}

#foot{
    margin: 40px;
}

#alerta{
    color: red;
    padding: 10px;
    visibility: hidden;
}